@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: #ff7f00 #000000;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ff7f00;
  border-radius: 5px;
}

::-moz-selection {
  background-color: #ff7f00;
  color: #000000;
}

::selection {
  background-color: #ff7f00;
  color: #000000;
}

body {
  background-color: #000000 !important;
}

header {
  height: 60px;
  width: 100%;
  padding: 0 10rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999 !important;
  background-color: #000000;
}
header .logo {
  height: 100%;
}
header .logo a {
  display: flex;
  align-items: center;
}
header .logo a picture,
header .logo a img {
  display: block;
  width: 150px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 576px) {
  header .logo a picture,
  header .logo a img {
    width: 60px;
    height: 60px;
  }
}
header .hamburger-btn {
  display: none;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 99 !important;
}
header nav a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  margin: 0px 10px;
  transition: all 0.3s ease-out;
}
header nav a:hover {
  color: #ff7f00;
}
header nav a.active {
  color: #ff7f00;
}
header nav a .bi-house-door-fill,
header nav a .bi-compass,
header nav a .bi-broadcast,
header nav a .bi-discord {
  margin-bottom: 5px;
}
header .others {
  height: 100%;
}
header .others button {
  border: none;
  background-color: transparent;
  color: #ff7f00;
  margin: 0px 6px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
header .others button:hover {
  color: #ffffff;
}
header .others .dropdown {
  margin: 0px 0px 0px 6px;
}
header .others .dropdown .dropdown-toggle {
  padding: 0;
  margin: 0;
  color: #ff7f00;
  transition: all 0.3s ease-out;
}
header .others .dropdown .dropdown-toggle:hover {
  color: #ffffff;
}
header .others .dropdown .dropdown-toggle img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
header .others .dropdown .dropdown-menu {
  background-color: #252525;
}
header .others .dropdown .dropdown-menu li .dropdown-item {
  color: #ffffff;
  transition: all 0.2s ease-out;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  padding: 5px 10px;
}
header .others .dropdown .dropdown-menu li .dropdown-item .bi-person-fill {
  margin-bottom: 6px;
  margin-right: 4px;
  margin-left: -3px;
}
header .others .dropdown .dropdown-menu li .dropdown-item .bi-box-arrow-right {
  margin-bottom: 4px;
  margin-right: 4px;
}
header .others .dropdown .dropdown-menu li .dropdown-item:hover {
  color: #000000;
}

.modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.modal .modal-dialog .modal-content .modal-body .search {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.modal .modal-dialog .modal-content .modal-body .search .bi-search {
  position: absolute;
  color: #ffffff;
  top: 7px;
  left: 5px;
}
.modal .modal-dialog .modal-content .modal-body .search input {
  background-color: #252525;
  outline: none;
  border: none;
  padding: 7px 7px 7px 35px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-body .animeler {
  height: 445px;
  width: 100%;
  color: #ffffff;
  margin: 10px 0px;
}
.modal .modal-dialog .modal-content .modal-body .animeler .anime {
  text-decoration: none;
  margin: 0px 0px 15px 0px;
}
.modal .modal-dialog .modal-content .modal-body .animeler .anime img {
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-body .animeler .anime .text {
  padding: 0px 6px;
}
.modal .modal-dialog .modal-content .modal-body .animeler .anime .text .title {
  color: #ff7f00;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
}
.modal .modal-dialog .modal-content .modal-body .animeler .anime .text .des {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
  line-height: 1;
}

.user-modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.user-modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.user-modal .modal-dialog .modal-content .modal-body .search {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.user-modal .modal-dialog .modal-content .modal-body .search .bi-search {
  position: absolute;
  color: #ffffff;
  top: 7px;
  left: 5px;
}
.user-modal .modal-dialog .modal-content .modal-body .search input {
  background-color: #252525;
  outline: none;
  border: none;
  padding: 7px 7px 7px 35px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
}
.user-modal .modal-dialog .modal-content .modal-body .users {
  height: 435px;
  width: 100%;
  color: #ffffff;
  margin: 15px 0px;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user {
  text-decoration: none;
  margin: 10px 0px;
  width: 100%;
  position: relative;
  align-items: center;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user .text {
  padding: 0px 6px;
  width: 70%;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user .text .title {
  color: #ff7f00;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user .text .des {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user .userfollow {
  position: absolute;
  right: 10px;
}
.user-modal .modal-dialog .modal-content .modal-body .users .user .userfollow .bi-person-fill-add {
  margin-top: 50%;
  transform: translateY(-35%);
  color: #ff7f00;
}

.notication-modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.notication-modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.notication-modal .modal-dialog .modal-content .modal-body .users {
  height: 455px;
  width: 100%;
  color: #ffffff;
  margin: 10px 0px;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user {
  text-decoration: none;
  margin: 15px 0px;
  width: 98%;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user .text {
  padding: 0px 6px;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user .text .title {
  color: #ff7f00;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user .text .date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ccc;
}
.notication-modal .modal-dialog .modal-content .modal-body .users .user .text .des {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
  line-height: 1;
}
.notication-modal .modal-dialog .modal-content .modal-body .clear {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ff7f00;
  border-radius: 6px;
  padding: 2px;
  transition: all 0.3s ease-out;
}
.notication-modal .modal-dialog .modal-content .modal-body .clear:hover {
  background-color: #ff7f00;
  color: #101010;
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}
footer .modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
footer .modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
footer .modal .modal-dialog .buttons button {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin: 0px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
footer .modal .modal-dialog .buttons button:hover {
  border-bottom: 2px solid #ff7f00;
}
footer .modal .modal-dialog .buttons button.active {
  border-bottom: 2px solid #ff7f00;
  color: #ff7f00;
}
footer .modal .modal-dialog .content-text {
  display: none;
}
footer .modal .modal-dialog .content-text .title {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
}
footer .modal .modal-dialog .content-text.active {
  display: block;
  color: #fff;
}
footer::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #313131 100%);
}
footer .content {
  position: absolute;
  padding: 0 10rem;
  width: 100%;
  height: 150px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}
footer .content .logo {
  height: 60px;
  display: flex;
  flex-direction: column;
}
footer .content .logo img {
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .content .logo .text {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}
footer .content .logo .des {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: normal;
  margin: 2.5px 0px;
}
footer .content .logo button {
  background-color: #ff7f00;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
footer .content .logo button svg {
  margin-right: 4px;
  margin-bottom: 4px;
}
footer .content .logo button:hover {
  background-color: #000;
  color: #ff7f00;
}
footer .content .link {
  display: flex;
  flex-direction: column;
}
footer .content .link .title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
}
footer .content .link .title .bi-award {
  margin-bottom: 5px;
  margin-left: -3px;
}
footer .content .link .title .bi-shuffle {
  margin-bottom: 5px;
  margin-right: 2px;
}
footer .content .link .links {
  display: flex;
  flex-direction: column;
}
footer .content .link .links a {
  text-decoration: none;
  color: #ccc;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
footer .content .link .links a:hover {
  color: #ff7f00;
}
footer .content .link .links a svg {
  margin-bottom: 3px;
  margin-right: 3px;
}
footer .content .link .links .long {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

@media only screen and (max-width: 1500px) {
  header {
    padding: 0px 16px;
  }
  footer .content {
    padding: 0px 16px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    padding: 0px 16px;
    /*CHECK İŞLEMLERİ HAMBURGER-MENU*/
  }
  header nav {
    position: fixed;
    flex-direction: column;
    align-items: start;
    background-color: #101010;
    width: 225px;
    height: 100vh;
    right: -225px;
    padding: 50px 16px 16px 16px;
    transition: all 0.3s ease-out;
    z-index: 99 !important;
  }
  header nav a {
    margin: 5px 0px;
  }
  header .hamburger-btn {
    display: block;
    width: 25px;
    height: 15px;
    right: 16px;
    top: 20px;
    z-index: 999 !important;
    position: absolute;
  }
  header .hamburger-btn span {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    transform: translateY(7px);
    transition: all 300ms;
  }
  header .hamburger-btn span::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    transition: all 300ms;
    bottom: 7px;
  }
  header .hamburger-btn span::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    transition: all 300ms;
    top: 7px;
  }
  header #check:checked + .hamburger-btn span {
    background-color: transparent;
    transition: all 300ms;
  }
  header #check:checked + .hamburger-btn span::before {
    transform: rotate(-45deg);
    transition: all 300ms;
    bottom: 0;
  }
  header #check:checked + .hamburger-btn span::after {
    transform: rotate(45deg);
    transition: all 300ms;
    top: 0;
  }
  header #check:checked ~ nav {
    right: 0px;
  }
  header .others {
    height: 100%;
    margin-right: 25px;
  }
  header .others button {
    border: none;
    background-color: transparent;
    color: #ff7f00;
    margin: 0px 6px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  header .others button:hover {
    color: #ffffff;
  }
  header .others .dropdown {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 700px) {
  footer {
    height: 200px;
  }
  footer .content {
    padding: 0px 16px;
    justify-content: space-around;
  }
  footer .content #mobile {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  footer {
    height: 200px;
  }
  footer .content {
    padding: 0px 16px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=global.css.map */