.settingcontent {
    padding: 1.5rem 10rem;

    .user {

        .usernameandoption {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .username {
                color: #ff7f00;
                font-size: 1.2rem;
                font-weight: 500;
                font-style: normal;
                line-height: 0.9;
                display: flex;
                align-items: end;


                .bi-person-circle {
                    margin-right: 3px;
                }
            }

            .option {
                font-size: 1.2rem;
                font-weight: 500;
                font-style: normal;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    transition: all 0.3s ease-in-out;
                    line-height: 0.8;
                    display: flex;
                    align-items: end;

                    &:hover {
                        color: #ff7f00;
                    }

                    .bi-arrow-left {
                        margin-right: 3px;
                        margin-bottom: -2px;
                    }
                }
            }
        }

        .pictureandabout {
            width: 100%;
            display: flex;
            margin-top: 16px;

            .picture {
                display: flex;
                flex-direction: column;

                .image {
                    width: 220px;
                    height: 220px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid #ff7f00;
                }

                .buttons {
                    margin: 10px 0px;
                    display: flex;
                    justify-content: space-between;

                    .updatebtn {
                        padding: 5px;
                        border: 2px solid #ff7f00;
                        background: transparent;
                        border-radius: 10px;
                        width: 108px;
                        color: #ffffff;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: #ff7f00;
                            color: #000000;
                        }
                    }

                    .deletebtn {
                        padding: 5px;
                        border: 2px solid #ff7f00;
                        background: transparent;
                        border-radius: 10px;
                        width: 108px;
                        color: #ffffff;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: #ff7f00;
                            color: #000000;
                        }
                    }
                }



                input[type="file"] {
                    border: 2px solid #ff7f00;
                    border-radius: 10px;
                    background-color: transparent;
                    color: #ffffff;
                    width: 220px;
                }

                input[type="file"]::-webkit-file-upload-button {
                    background-color: #ff7f00;
                    color: #000000;
                    border: none;
                    cursor: pointer;
                    width: 220px;
                }

                input[type="file"]::file-selector-button {
                    background-color: #ff7f00;
                    color: #000000;
                    padding: 5px;
                    border: none;
                    cursor: pointer;
                }
            }

            .text {
                margin-left: 16px;
                width: 100%;

                textarea {
                    background-color: transparent;
                    border: 2px solid #ff7f00;
                    border-radius: 10px;
                    color: #ffffff;
                    outline: none;
                    padding: 5px;
                    width: 100%;
                    height: 315px;
                    resize: vertical;
                }
            }
        }

        .otherdata {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10px;

            .box {
                width: 100%;
                margin: 10px 0px;

                .title {
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: 500;
                    font-style: normal;
                }

                input {
                    width: 100%;
                    background-color: transparent;
                    border: 2px solid #ff7f00;
                    padding: 5px;
                    border-radius: 10px;
                    color: #ffffff;
                    outline: none;
                }

                .password-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;

                    input {
                        flex: 1;
                        padding-right: 40px;
                        width: 100%;
                        background-color: transparent;
                        border: 2px solid #ff7f00;
                        padding: 5px;
                        border-radius: 10px;
                        color: #ffffff;
                        outline: none;
                    }

                    .toggle-password {
                        position: absolute;
                        right: 10px;
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        color: #ff7f00;
                        font-size: 18px;
                    }
                }
            }
        }

        .toggle {
            margin-top: 5px;

            .title {
                color: #ffffff;
                font-size: 1rem;
                font-weight: 500;
                font-style: normal;
            }

            /* From Uiverse.io by Muaz-Aldalil */
            .toggle-checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                display: none;
            }

            .toggle-switch {
                background-color: gray;
                width: 78px;
                height: 32px;
                border-radius: 16px;
                position: relative;
                transition: 0.3s;
                cursor: pointer;
            }

            .toggle-switch::before {
                content: "";
                font-weight: 900;
                background-color: white;
                width: 24px;
                height: 24px;
                position: absolute;
                border-radius: 50%;
                top: 4px;
                left: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
                transition: 0.3s;
            }

            .toggle-checkbox:checked+.toggle-switch {
                background-color: #0075ff;
            }

            .toggle-checkbox:checked+.toggle-switch::before {
                content: "";
                left: 50px;
                color: #0075ff;
            }
        }

        .buttons {
            margin-top: 10px;

            .save {
                padding: 5px;
                border: 2px solid #ff7f00;
                background-color: transparent;
                color: #ffffff;
                border-radius: 10px;
                width: 100px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: #ff7f00;
                    color: #000000;
                }
            }
        }
    }
}

@media only screen and (max-width:1500px) {
    .settingcontent {
        padding: 25px 16px;
    }
}

@media only screen and (max-width:1200px) {
    .settingcontent {

        .user {

            .usernameandoption {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .username {
                    font-size: 1rem;
                    line-height: 1;
                }

                .option {
                    font-size: 1rem;

                    a {
                        line-height: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .settingcontent {

        .user {

            .pictureandabout {
                display: flex;
                flex-direction: column;
                margin-top: 16px;

                .picture {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                .text {
                    margin-left: 0px;
                    margin-top: 16px;
                    width: 100%;


                    textarea {
                        height: 200px;
                    }
                }
            }
        }
    }
}